.App {
  text-align: left;
}

.header {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header--text {
  color: white;
}

.header--logo {
  height: 3.125em;
  margin-top: 0.31em;
  margin-right: 0.187em;
}

.card {
  display: flex;
  justify-content: center;
  margin: 1.875em;
}

.card--image {
  width: 12.5em;
  border-radius: 10px;
  object-fit: cover;
}

.card--location {
  display: flex;
}

.card--country {
  margin-right: 0.625em;
}

.card--gMaps {
  color: gray;
}

.card--location, .card--title, .card--startEndDate, .card--description, .card--image {
  margin-left: 4rem;
  max-width: 50vw;
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
}